$black = #1c1f21;
$grey = rgb(119, 119, 119);
$blue = rgb(35, 136, 237);
$whiteSmoke = #f0f3f7
$brown = #777
$openSans = 'Open Sans', sans-serif;
$darkBlue = #093b6e
$lightBlue = #2388ed
$inputBg = #f1f3f7
$darkSlateBlue = #143544

transitionEase()
  transition .25s ease all

*, *:before, *:after
  box-sizing border-box
html, body
  margin 0
  background white
  -webkit-font-smoothing subpixel-antialiased
  -webkit-text-stroke 1px rgba(0,0,0,0)
  font-family 'Montserrat', sans-serif
  color $black

kbd
  font-family 'Montserrat', sans-serif !important
  // line-height 26px
// modifier
._text-left
	text-align left
._text-right
	text-align right
._text-center
	text-align center
._flex
	display flex
._v-center
	align-items center
._h-center
	justify-content center
._space-around
  justify-content space-around
._space-between
  justify-content space-between
._flex-col
	display flex
	flex-direction column
._m-none
	@media (max-width: 756px)
		display none !important
._w50
  width 50%
._relative
  position relative

._d-none
  display none

h2
  font-size 42px

h1
  font-size 55px

h3
  font-size 24px

.scroll-hidden
  overflow hidden

a
  transition all .50s ease
  &:hover
    text-decoration none !important

img 
  width 100%
  height auto

input, textarea
  padding 14px 12px
  color $grey
  font-size 12px
  font-family $openSans
  background white
  border 1px solid rgba(0,0,0,0)
  margin 0

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill
  -webkit-box-shadow: none !important
  transition: background-color 5000s ease-in-out 0s !important
.text-center
  text-align center

button
  background $blue
  border 2px solid $blue
  transition all .50s ease
  padding 12px 30px
  font-size 14px
  color white !important
  font-family $openSans
  border-radius 100px
  &:hover
    cursor pointer
    background white
    border-color $blue
    color $blue !important

a
  text-decoration none
  color $black
button:focus
  outline none
ul
  list-style-type none
input:-webkit-autofill
  background none !important
.container
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  width 100%



@media (min-width: 1200px)
  .container
    max-width 1200px
				
figure
  margin 0
  position relative
button
  &:focus
    outline none !important
input[type="submit"]
  &:focus
    outline none !important
.flex
  display flex;

.wrapper-nav
  padding-top 20px
  padding-bottom 20px
  display flex
  justify-content space-between
  align-items center
  position relative

nav
  background white
  position fixed 
  top 0
  left 0
  width 100%
  z-index 2
  transition all .50s ease
  z-index 100
  .black
    position absolute
    left: 30px;
    top: 30px;
    opacity 0
  a
    font-size 14px
    text-transform uppercase
    font-weight 700
    color $black
    &:hover
      color $blue !important
  ul
    padding 0
    margin 0
    display flex
    align-items center
    li
      margin-right 15px
      &:last-child
        margin-right 0
.header-logo
  display flex
  flex-direction column
  span
    text-align right
    font-family $openSans
    font-weight 300
    font-size 10px
    letter-spacing 0.5px
    color #143544
    letter-spacing: .5px
  img 
    width 270px
    height auto

.swiper-container
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

.wrapper-home 
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  background: #fff;
  width 100%
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size cover 
  overflow hidden
  > .container
    z-index 2
  &:first-of-type
    color white
    h2
      margin 0
      color $blue
    h2,h3
      text-align center
      text-align right
    h3
      font-weight 300
      margin 0
    h1
      margin 0
      text-align right
      padding-left 50%
  &:before 
    content '';
    width 100%
    height 100%
    background #318de8
    position absolute
    top 0
    left 0
    opacity .6
    z-index 2

.badge-black
  z-index: -1;
  background-color: #2e3237;
  visibility: visible;
  border-color: #707070;
  border-style: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  color: #fff;
  width: 60%;
  height: 60%;
  transform: matrix3d(1,0,0,0,-.309017,.951057,0,0,0,0,1,0,0,0,0,1) translateY(-50%);
  transform-origin: 50% 50% 0;
  position: absolute;
  top: 50%;
  right: -280px;
  display none
  &:after
    content: '';
    z-index: 99;
    background-color: #2e3237;
    visibility: visible;
    overflow: hidden;
    border-color: #707070;
    border-style: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    color: #fff;
    width: 105%;
    height: 100%;
    transform-origin: 50% 50% 0;
    position: absolute;
    top: 10%;
    opacity: 0.5;
    right: 0;
.bg-home
  position relative
  overflow hidden
  margin-top 91px
  height calc(100vh - 130px)
  .swiper-pagination-bullet
    background white

.slide-show
  position absolute
  top 0
  left 0
  z-index 1
  width 100%
  height 100%
  object-fit cover
section
  padding-top 30px;
  padding-bottom 30px
  position relative

.section-client
  background $whiteSmoke
  position relative
  padding-top 50px
  padding-bottom 50px
  padding-right 8%
  padding-left 8%
  .swiper-button-prev
    left 0px
    transform scale(.5)
    color $black
  .swiper-button-next
    right 0px
    transform scale(.5)
    color $black
  
.wrapper-client
  width 100%
  display flex
  justify-content space-around
  flex-wrap wrap
  margin -15px 0
  padding-left 70px
  padding-right 70px
  img
    height 30px
    width auto
    position relative
    margin 15px
    filter grayscale(1)
    transitionEase()
    &:hover
      filter unset
.wrapper-client
  display inline-flex

.section-experience
  background $whiteSmoke
  padding-left 10%
  padding-right 10%
  padding 40px 0 40px
.main-wrapper-experience
  display flex
  justify-content space-between
  padding-left 0px
  padding-right 0px
.experience-count
  display flex
  width 50%
  flex-wrap wrap
  margin-left -65px
  padding 50px 0

.wrapper-experience
  display flex
  width 50%
  flex-direction column
  align-items center
  justify-content center
  padding 15px;

.exp-header,.exp-desc
  color $black

.exp-header
  font-size 50px
  font-weight bold

.exp-desc
  font-size 17px
  font-weight normal

.experience-video
  width 50%
  margin-top -80px
  video
    width 100%
    height auto;
    border-radius 10px

.wrapper-video
  position: relative;
  display: inline-block;
  z-index 5


.blurEffect
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);

.content-video
  position: absolute;
  display: inline-block;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #FFF;
  width: 100%;
  text-align: center;
  z-index: 99;

.content-video-caption
  position absolute
  bottom 20px
  background white
  color $black
  left 50%
  transform translateX(-50%)
  padding 15px 20px
  h1
    font-size 18px
    margin 0
    font-weight bold
  h2
    font-size 13px
    font-family $openSans
    font-weight 400
    margin 0

.play
  font-size: 50px;
  cursor: pointer;
  border: 1px solid $blue;
  display: inline-block;
  text-align: center;
  padding: 17px 20px 17px 30px;
  border-radius: 100px;
  background $blue
  &:hover
    color: $blue;
    background white

.section-approach
  padding-bottom 100px

.wrapper-approach
  background white;

.wrapper-header-approach
  display flex
  flex-direction column
  align-items center
  h3
    text-align center
    margin 30px 0 10px
  span
    font-weight 300
    color $brown

.caption-video
  font-size 18px
  color white
  border-radius 5px
  background $darkBlue
  width 70%
  margin-left auto
  margin-right auto
  padding 20px 30px
  font-weight 300
  text-align center
  font-family $openSans
  position relative
  margin-bottom -100px
  margin-top -10px
  z-index 2
  
.wrapper-step-approach
  display flex
  align-items center
  margin-top 70px
  position relative
  .wrapper-step
    display flex
    flex-direction column
    align-items center
    text-align center
    padding 0 30px
  .img-step
    width 155px
    height 155px
    border 6px solid $blue
    border-radius 100%
    overflow hidden
    position relative
    transition transform 1s ease
    &.active
      border-color $black
      transform scale(1.3)
    &:after
      content ''
      width 100%
      height 100%
      border-radius 100%
      border 6px solid white
      position absolute
      left 0
      top 0
      z-index 5
    img
      width 100%
      height auto

.caption-step
  h3
    font-size 18px
    text-transform uppercase
    margin 70px 0 13px
    font-weight 800
  p
    margin 0
    font-size 14px
    font-weight 400
    font-family $openSans
    line-height 26px
    color $brown

.dots
  position absolute
  width 70%
  height 20px
  top 70px
  left 50%
  transform translateX(-50%)
  svg
    z-index 99
    position absolute
    height 100%
    width 100%
    top 50%
    transform translateY(-50%)

.dots-color
  background $blue
  width 100%
  height 10px
  position absolute
  left 0
  top 50%
  transform translateY(-50%)
  z-index 2

.dots-color-dark
  background $black
  width 100px
  height 10px
  position absolute
  top 50%
  transform translateY(-50%)
  left 0%
  z-index 4
  animation slide 15s infinite

.section-academy
  padding 0
  width 100%
  display flex
  flex-wrap wrap
  background $blue
  z-index 10

.wrapper-academy
  min-width 25%
  display flex 
  flex-direction column
  color white
  padding 50px 40px
  background-size cover
  background-position center
  flex 1
  &:nth-child(3)
    flex-grow 10
  span
    font-size 13px
    font-family $openSans
    color $whiteSmoke
    margin 0
  h3
    margin 0 0 15px
    font-size 22px
    color white
  
  p
    margin 0
    font-size 14px
    line-height 26px
    

.darkBlue
  background $darkBlue

.lightBlue
  background $lightBlue

.wrapper-story
  display flex
  justify-content space-between
  padding-top 40px


.wrapper-story
  .wrapper-caption, .wrapper-image
    position relative
  .wrapper-caption
    width 50%
    p
      line-height 26px
      font-size 14px
      color $grey
      font-weight 400
      font-family $openSans
      width 80%
      &.light
        font-size 16px
        margin-bottom 15px
        font-weight 300
    span
      color $blue
      font-family $openSans
      font-weight 300
      font-size 13px
      display block
    h3
      margin 5px 0 11px
      font-size 28px
      color $black
      font-weight 700
      span
        color inherit 
        font-size inherit
        font-family inherit
        font-weight inherit
  .confetti
    position absolute !important
    left 0
    right 0
    top -20px
    transform scale(1.2)
    z-index 1
    width 100%
    box-shadow none !important
  .wrapper-image
    padding-top 30px
    width 40%
    img
      box-shadow rgba(0,0,0,0.4) 0 0 40px 5px
      width 100%
      height auto
      position relative
      z-index 5

.section-team
  position relative
  .container
    z-index 2
    position relative

.wrapper-header-team
  color $whiteSmoke
  margin-top 20px
  span
    font-family $openSans
    font-size 14px
    font-weight 400
  h3
    margin 0
    font-size 32px
    font-weight 700


.background-team
  background-size cover
  background-position center
  position absolute
  width 100%
  height 269px
  left 0
  top 0
  z-index 1
  &:before 
    content '';
    width 100%
    height 100%
    background #318de8
    position absolute
    top 0
    left 0
    opacity .85
    z-index 2

.wrapper-grid-team
  display grid
  grid-template-columns 1fr 1fr 1fr 1fr
  grid-gap 22px
  background white
  padding 22px
  margin-top 50px
  .item-team
    width 100%
    position relative
    &:hover
      a
        opacity 1
    a
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      display block
      opacity 0
      transition all .25s ease
      background rgba(0,0,0,.4)
      img
        width 50px
        height auto
        position absolute
        top 40%
        left 50%
        transform translate(-50%)
    img
      width 100%
      height auto
      max-height 260px
      object-fit: cover;
    h3
      margin 16px 0 0
      font-size 17px 
    span
      margin 0
      font-family $openSans
      font-size 14px
      font-weight 400
      color $black
      display block

.section-story
  padding-bottom 50px
  overflow hidden

.section-services
  padding-top 0
  .caption-step
    margin-top 30px
  .wrapper-step-approach
    .dots
      top 30px
  .wrapper-step
    .img-step
      border-radius 0px
      color $black
      border none
      border-color transparent
      width 100%
      z-index 2
      position relative
      height 80px
      &.active
        h1
          span
            font-size 0px
      h1
        font-size 27px
        margin 0
        span
          font-size 47px
          color $blue
          font-family $openSans
          transition font-size .50s ease
      &:after
        background: white;
        z-index: -1;
        border-color: rgba(0,0,0,0);
        width: 80%;
        border-radius: 0;
        top: 50%;
        height: 50%;
        left: 13%;
        transform: translateY(-50%);

.item-testimonial
  width 100%
  display flex
  flex-direction column
  height 100%
  h3,span
    color $black
    text-align center !important
  h3
    font-weight 700 !important
    font-size 22px
    margin-top 5px !important
  span
    font-family $openSans
    font-weight 400
    color $grey
    font-size 14px
  .testimonial
    background $blue
    padding 20px
    color white
    position relative
    z-index 2
    text-align center
    line-height 26px
    font-size 15px
    font-style italic
    &:after
      content ''
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid $blue;
      position absolute
      left 50%
      top 50%
      transform translateX(-50%)
      z-index -1

.testimonial-image
  width 75px
  height 75px
  overflow hidden
  border-radius 100%
  margin-left auto
  margin-right auto
  margin-top 20px
  img
    width 100%
    height auto

.section-map
  padding 0
#map
  height 560px
  width 100%
  position relative
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.section-contact
  padding-top 60px
  padding-bottom 70px
  background $whiteSmoke
  button
    max-width 300px
    margin-top 20px

.wrapper-contact
  padding-left 100px
  padding-right 100px
  display flex
  flex-direction column
  > span, > h2, > p
    text-align center
  > h2
    margin 0 0 10px
    font-size 28px
    font-weight 700
  > p
    font-size 18px 
    font-weight 400
    font-family $openSans
    color $grey
    margin 0
  span
    &.blue
      font-size 13px
      font-family $openSans
      font-weight 400
      color $blue

.wrapper-field
  margin-top 65px
  display flex
  .left-contact
    position relative
    width 45%
    display flex
    flex-direction column
    justify-content space-between
  .right-contact
    width 55%
    padding-left 5%

#map
  box-shadow 0px 0px 50px -5px rgba(0,0,0,.5)
  height: 500px;
  position: absolute;
  width: 430px;
  top: -180px;
  left: 0;
  
.contact-caption
  padding-left 15px
  h3
    font-size 17px
    font-weight 700
    margin 0
  p
    font-size 14
    font-weight 400
    font-family $openSans
    color $grey
    margin 0 0 30px

.wrapper-icon
  display flex
  img
    width 37px
    height 37px
    &.address
      width 57px

.right-contact
  display flex
  flex-wrap wrap
  >h3
    color $blue
    font-weight 400
    font-family $openSans
    font-size 13px
    margin 0
    width 100%
  >h2
    font-size 28px
    font-weight bold
    text-align left
    width 100%
    margin 0 0 20px

  > input[name='name']
    width calc(50% - 5px)
    margin-right 5px
    max-height 44px
  > input[name='email']
    width calc(50% - 5px)
    margin-left 5px
    max-height 44px
  > textarea
    margin-top 10px
    width 100%
    min-height 165px

.section-footer
  padding-top 20px
  padding-bottom 20px
  background $blue
  color white

.wrapper-footer
  display flex
  justify-content center
  align-items center
  background $blue
  color white
  img
    width 35px
    height auto
    margin 0 20px
  span
    &:first-child
      margin-left -70px
    font-size 14px
    font-family $openSans
    font-weight 400
    color inherit

.navbar-mobile
  display none

.section-business
  position relative
  padding 70px 0
  > .container
    > h3
      text-align center
      margin 30px 0 0
    > h4
      margin 0
      text-align center
      font-family $openSans
      color $black
      font-weight 400
      img
        display: inline;
        width: 15px;
        height: 15px;
        position: relative;
        transform: rotate(-12deg);
        top: 0px;
        left: 0px;

.wrapper-stripes
  position absolute
  z-index 3
  top 0
  left 10%
  width 100px
  height 100px

.wrapper-business
  img
    width 88px
    height 88px
  
.wrapper-content-business
  flex-wrap wrap

.border-gradient
  background: linear-gradient(180deg,#2388ed 0%,#34be76 80%);

.business-gradient
  background: linear-gradient(180deg,#2388ed 0%,#34be76 80%);
  position relative
  width 322px
  height 207px
  margin-top 50px
  transition all .50s ease !important
  &:hover
    padding 10px
    cursor pointer
.business
  background-size cover
  background-repeat no-repeat
  position relative
  width 100%
  height 100%
  color white
  flex-direction: column;
  justify-content: center;
  display: flex;
  &:before
    content '';
    width 100%
    height 100%
    background $darkBlue
    position absolute
    top 0
    left 0
    opacity .80
    z-index 2
  .top
    left 10px
    top 0
  .bot
    right 10px
    bottom 0
    transform rotate(180deg)
  .mini-logo
    position: absolute;
    top: 10px;
    right: 10px;
    height: 21px;
    width: 27px;
    z-index: 2;
  .top,.bot
    z-index 3
    position absolute
    width 76px
    height 64px 
  h3,h2
    margin 0
    text-align center
    position relative
    z-index 5
  h3
    font-size 11px
    font-family $openSans
    font-weight 300
  h2
    font-size 18px
    font-weight bold

.section-certification
  background $blue
  color white
  h3
    margin 0
    font-size 17px
    font-family $openSans
    text-align center

.wrapper-certification
  > div
    margin-right 15px
    img
      width 87px
      height auto
  .border-gradient
    border-radius 200px
    padding: 30px;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    position relative 
    > div
      position relative
      z-index 9
    &:before
      content: '';
      width: 92%;
      height: 92%;
      left: 6px;
      top: 50%;
      position: absolute;
      background: #fff;
      z-index: 1;
      border-radius: 100%;
      transform: translateY(-50%);

.section-service-new
  padding-bottom 80px
  h2
    position relative
    font-size 24px
    text-align center
    font-weight bold
    img
      position: absolute;
      width: 41px;
      height: 22px;
      top: 0px;
      left: 50%;
      transform: translateX(-300%) rotate(-24deg);

.wrapper-service-new
  margin-top 50px
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 50px
  padding-left: 200px;
  padding-right: 30px;

.service-new
  width 100%
  position relative
  padding-bottom 10px
  h3
    font-family $openSans
    font-size 14px
    font-weight bold
    margin 0
    text-align left

.hover-1
  position relative
  transition all .50s ease
  &:after,&:before
    content: '';
    position: absolute;
    width: 0;
    border-bottom: 3px solid $blue;
    transition: cubic-bezier(.55,0,.1,1) width 400ms;
    border-color $blue
  &:before
    left 0
    top 0
  &:after
    right 0
    bottom 0
  &:hover
    &:after,&:before
      width 100%
      border-color $blue
    .inner-hover-1
      &:after,&:before
        height 100%
        border-color $blue


.inner-hover-1
  &:after,&:before
    content: '';
    position: absolute;
    height: 0;
    border-left: 3px solid $blue;
    transition: cubic-bezier(.55,0,.1,1) height 400ms;
    border-color $blue
  &:before
    left 0
    top 0
  &:after
    right 0
    bottom 0

.values-item
  padding 48px
  transition all .50s ease
  align-items center
  justify-content center
  display flex
  flex-direction column
  &:hover
    p
      opacity 1
  p,h2
    text-align center
  svg
    fill $blue
  img
    width 45px
    height auto
    margin-bottom 24px
  h2
    font-size 17px
    font-weight bold
    margin 0 0 9px
    transition all .50s ease
  p
    font-size 14px
    font-family $openSans
    font-weight 400
    line-height 26px
    margin 0
    opacity 0
    color $grey
    transition all .50s ease

.wrapper-values
  padding 0 10px
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-gap 30px

.grid-item
  width calc(20% - 30px)
  margin-bottom 30px
  img
    transition all .25s ease
  &:hover
    cursor pointer
    img
      transform scale(1.1)

.category-feed
  margin-bottom 30px
  span
    margin-right 10px
    font-weight bold
    transition all .50s ease 
    &:hover
      color $blue
      cursor pointer
    &.active
      color $blue
  
.gutter-sizer
  width 30px

#load-masonry
  margin-left auto
  margin-right auto
  display block
  margin-top 50px

.section-testimonial
  background $whiteSmoke
  padding-bottom: 110px;
  padding-top: 50px;
  .swiper-button-prev
    left 100px
    transform scale(.5)
    color $black
  .swiper-button-next
    right 100px
    transform scale(.5)
    color $black
  > .container
    > h3
      font-weight 400
      font-family $openSans
      color $grey
      margin 0
      font-size 13px
      text-align center
    > h2
      font-weight bold
      color $black
      margin 0
      font-size 24px
      text-align center

.wrapper-testimonial
  padding-left 100px
  padding-right 100px
  justify-content center
  p
    line-height 26px
    font-weight 400
    font-color $gery
    font-size 16px
    margin-bottom 15px
  > ._flex-col
    width 70%
    h2
      margin 0
      font-size 18px
      font-weight bold
    h3
      font-size 16px
      font-weight 400
      font-family $openSans
      color $grey
      margin 0
  .img-rounded
    display inline-block
    width: 15%;
    height: 100%;
    align-self center
    margin-right 25px
  img
    width 100%
    height auto

.img-rounded
  border-radius 100% !important
  overflow hidden

.section-location
  padding-top 60px
  padding-bottom 120px
  .container
    >h3
      padding-left 100px
      padding-right 100px
      color $blue
      font-weight 400
      font-family $openSans
      font-size 13px
      margin 0
    >h2
      padding-left 100px
      padding-right 100px
      font-size 28px
      font-weight bold
      margin 0 0 40px
.wrapper-location
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-gap 30px
  padding-left 100px
  padding-right 100px
  h3
    margin 0
    font-weight 400
    font-family $openSans
    font-size 14px
    color $grey
  h2
    font-weight bold
    margin 0
    font-size 18px
  p
    line-height 22px
    font-family $openSans
    font-weight 400
    font-size 13px
    color $grey
    margin 10px 0
  a
    font-size 12px
    color $blue
    font-weight bold
    &:hover
      &+img
        margin-left 7px
  img
    color $blue
    width 10px
    height auto
    transition all .50s ease

.section-pre-footer
  background $blue
  color white

.wrapper-pre-footer
  display grid
  grid-template-columns 25% 25% 1fr
  grid-gap 30px
  padding-left 100px
  padding-right 100px
  p
    line-height 26px
  li
    position relative
    &:before
      content: '';
      top: 50%;
      left: -35px;
      background: #fff;
      width: 25px;
      height: 2px;
      position: absolute;
      transform: translateY(-50%);

  h3
    font-size 18px
  li
    font-size 14px

.typing,.typed-cursor
  display inline-block !important

.typed-cursor
  font-size: 28px !important;
  color $black !important
  font-weight 300 !important;
  font-family $openSans

.modal-title
  font-size 24px
  font-weight bold

// ------------------------------ RESPONSIVE


  
@keyframes slide
  0%
    left 0%
  50%
    left 50%
  100%
    left 90%

@media (max-width: 1100px)
  #map
    width 300px

@media (max-width: 800px)
  .section-contact
    padding-top 0
    .wrapper-field
      flex-wrap wrap
      .left-contact,.right-contact
        width 100%
      #map
        position relative
        width 100%
        top unset
        height 300px
        transform scale(1)
      .right-contact
        padding 0
        margin-top 40px
  .wrapper-values
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 30px
  .values-item
    width 100%
    margin 0
    height auto
    padding 10px
  .section-certification
    h3
      text-align center
    ._space-between
      flex-wrap wrap
      >*
        width 100%
    .wrapper-certification
      margin 40px 0
      justify-content space-around
      .border-gradient
        width 100px
        height 100px
        padding 20px
      img
        width 100%
        height auto
  .exp-header
    font-size 27px
  .section-client
    padding-top 50px
    padding-bottom 50px
    padding-left 30px
    padding-right 30px
  .wrapper-experience
    align-items flex-start
  .section-services 
    .wrapper-step-approach 
      .dots
        top 13px
    .wrapper-step 
      .img-step 
        transform none !important
        h1
          font-size 27px
          background white
          span
            font-size 30px

  .wrapper-location
    grid-template-columns 1fr
@media (max-width: 650px)
  .wrapper-grid-team 
    grid-template-columns 1fr
    padding-top 0
    .item-team 
      img
        max-height unset
  .navbar-mobile
    button
      width 200px
      transition unset !important
      margin-left auto
      display none
  .wrapper-contact
    padding 0
  .wrapper-location
    grid-template-columns 1fr
    padding-left 0
    padding-right 0
  .section-location .container 
    >h2,>h3
      padding 0
  .wrapper-business
    flex-wrap wrap
    >*
      width 100%
      text-align center
  .values-item
    p
      opacity 1 !important
  .grid-item
    width calc(33% - 20px)
  .wrapper-testimonial
    padding-left 0
    padding-right 0
    flex-wrap wrap
    .img-rounded
      margin 0
      width 50%
      margin 30px 0
  .gutter-grid
    width 10px
  .wrapper-values
    grid-template-columns 1fr
    padding-left 0
    padding-right 0
  .wrapper-service-new
    padding-left 0
    padding-right 0
  .business-gradient
    width 100%
  .wrapper-step-approach .wrapper-step
    padding-left 100px
    padding-right 100px
  .img-step
    transform none !important
  .wrapper-step-approach 
    .img-step
      width 100%
      height auto
  .dots
    display none !important
  .section-values 
    padding-top 0
  .wrapper-home>.container
    h1
      font-size 32px
      padding-left 0
    h2
      font-size 27px
  .badge-black
    right -10px
    width 100%
    height 50%
  .main-wrapper-experience
    flex-direction column
  .experience-count
    width 100%
    margin-left 0
  .experience-video
    margin-top 20px
    width 100%
  .section-experience
    padding-left 0
    padding-right 0
  .section-client
    padding-left 0
    padding-right 0
  .wrapper-client
    margin 0
    justify-content flex-start
  .wrapper-step
    width 100%
  .wrapper-step-approach
    flex-wrap wrap
  .caption-step 
    p
      margin-bottom 50px
    h3
      margin-top 30px
  .wrapper-academy
    width 100%
    flex unset
    min-height 238px
    flex-grow unset
    flex-shrink unset
  .wrapper-story 
    flex-wrap wrap
    .wrapper-caption
      width 100%
      p
        width 100%
    .wrapper-image
      width 100%
  .wrapper-field
    flex-wrap wrap
    .left-contact
      width 100%
    .right-contact
      width 100%
      padding 20px 0 0
      > input[name='subject']
        margin 10px 0
  .wrapper-contact span.blue
    margin-bottom 10px
  .wrapper-footer img
    width 45px
  .wrapper-client
    img
      width auto
      height 20px
  nav
    ul
      display none
    .hamburger
      div
        background-color $black
  .hamburger
    &.force
      div
        background-color $black !important
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 45px;
    z-index: 100;
    div
      position: relative;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: #fff;
      margin-top: 5px;
      transition: all .3s ease-in-out;
  .hamburger.active .top-bun
    transform: rotate( -45deg );
    margin-top: 15px;
  .hamburger.active .bottom-bun
    opacity: 0;
    transform: rotate(45deg); 
  .hamburger.active .meat
    transform: rotate( 45deg );
    margin-top: -3px;
  .navbar-mobile
    padding 30px
    width 100%
    height 100%
    position fixed
    top 0px
    left 0
    background white
    flex-direction column
    padding-top 100px
    > a
      color $black
      display none
      padding 17px 0
      text-align right
      &:first-child
        padding-top 0
  .swiper-button-next
    top 100%
  .wrapper-pre-footer
    grid-template-columns 1fr
    padding 0
  .section-testimonial
    .swiper-button-prev,.swiper-button-next
      position unset
      display inline-block
      margin 0 !important
    .swiper-button-prev
      margin-left 0px !important
      margin-top 50px !important

@media (max-width: 450px)
  .featherlight .featherlight-inner
    width 100%
    max-height 300px
  .wrapper-testimonial > ._flex-col
    width 100%
  .category-btn
    margin-bottom 10px
  .content-video-caption
    display none
  .grid-item
    width calc(50% - 20px)
  .gutter-gtid
    width 10px
  .category-feed
    display grid
    gtid-template-columns 1fr
  .wrapper-service-new
    grid-template-columns 1fr
  .wrapper-step
    padding-left 0 !important
    padding-right 0 !important
  .wrapper-grid-team
    padding-left 0
    padding-right 0
  .wrapper-step-approach .img-step
    width 70%
  .experience-count
    padding-top 0
  .caption-video
    width 100%
    position relative
    margin-bottom unset
  .section-certification .wrapper-certification
    flex-wrap wrap
    flex-direction column
    align-items center
    .border-gradient
      width 50%
      height 150px
      margin 0 0 20px
      &:before
        width 92%
  