$black = #1c1f21;
$grey = rgb(119, 119, 119);
$blue = rgb(35, 136, 237);
$whiteSmoke = #f0f3f7
$brown = #777
$openSans = 'Open Sans', sans-serif;
$darkBlue = #093b6e
$lightBlue = #2388ed
$inputBg = #f1f3f7

transitionEase()
  transition .25s ease all

*, *:before, *:after
  box-sizing border-box
html, body
  margin 0
  background white
  -webkit-font-smoothing subpixel-antialiased
  -webkit-text-stroke 1px rgba(0,0,0,0)
  font-family 'Montserrat', sans-serif
  // line-height 26px
// modifier
._text-left
	text-align left
._text-right
	text-align right
._text-center
	text-align center
._flex
	display flex
._v-center
	align-items center
._h-center
	justify-content center
._flex-col
	display flex
	flex-direction column
._m-none
	@media (max-width: 756px)
		display none !important
._w50
  width 50%


h2
  font-size 42px

h1
  font-size 55px

h3
  font-size 24px

.scroll-hidden
  overflow hidden

img 
  width 100%
  height auto

input, textarea
  padding 14px 12px
  color $grey
  font-size 12px
  font-family $openSans
  background white
  border 1px solid rgba(0,0,0,0)
  margin 0

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill
  -webkit-box-shadow: none !important
  transition: background-color 5000s ease-in-out 0s !important
.text-center
  text-align center

button
  background white
  border 2px solid $blue
  transition all .50s ease
  padding 12px 30px
  font-size 14px
  color $blue
  font-family $openSans
  border-radius 100px
  &:hover
    cursor pointer
    background $blue
    border-color white
    color white
  &.invert
    background $blue
    color white
    border-color $blue
    &:hover
      background white
      color $blue
      border-color $blue

a
  text-decoration none
  color $black
button:focus
  outline none
ul
  list-style-type none
input:-webkit-autofill
  background none !important
.container
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  width 100%
		
@media (min-width: 1200px)
  .container
    max-width 1200px
				
figure
  margin 0
  position relative
button
  &:focus
    outline none !important
input[type="submit"]
  &:focus
    outline none !important
.flex
  display flex;

.wrapper-nav
  padding-top 30px
  padding-bottom 30px
  display flex
  justify-content space-between
  align-items center
  position relative

nav
  background rgba(0,0,0,0)
  position fixed 
  top 0
  left 0
  width 100%
  z-index 2
  transition all .50s ease
  height 120px
  z-index 100
  .black
    position absolute
    left: 30px;
    top: 30px;
    opacity 0
  &.active
    background white
    height 90px
    a
      color $black
    .black
      opacity 1
  a
    color $whiteSmoke
    font-size 14px
    text-transform uppercase
    font-weight 700
  ul
    padding 0
    margin 0
    display flex
    li
      margin-right 15px
      &:last-child
        margin-right 0
.header-logo
  img 
    width 200px
    height 25px

.swiper-container
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

.swiper-slide 
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 18px;
  background: #fff;
  width 100%
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size cover 
  overflow hidden
  > .container
    z-index 2
  &:first-of-type
    color white
    h2
      margin 0
      color $blue
    h2,h3
      text-align center
      text-align right
    h3
      font-weight 300
      margin 0
    h1
      margin 0
      text-align right
      padding-left 30%
  &:before 
    content '';
    width 100%
    height 100%
    background #318de8
    position absolute
    top 0
    left 0
    opacity .85

.badge-black
  z-index: -1;
  background-color: #2e3237;
  visibility: visible;
  border-color: #707070;
  border-style: none;
  margin: 0;
  border-radius: 0;
  padding: 0;
  color: #fff;
  width: 60%;
  height: 60%;
  transform: matrix3d(1,0,0,0,-.309017,.951057,0,0,0,0,1,0,0,0,0,1) translateY(-50%);
  transform-origin: 50% 50% 0;
  position: absolute;
  top: 50%;
  right: -280px;
  display none
  &:after
    content: '';
    z-index: 99;
    background-color: #2e3237;
    visibility: visible;
    overflow: hidden;
    border-color: #707070;
    border-style: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    color: #fff;
    width: 105%;
    height: 100%;
    transform-origin: 50% 50% 0;
    position: absolute;
    top: 10%;
    opacity: 0.5;
    right: 0;
.bg-home
  position relative
  overflow hidden
  .swiper-pagination-bullet
    background white

section
  padding-top 30px;
  padding-bottom 30px
  position relative

.section-client
  background $whiteSmoke
  position relative
  padding-top 70px
  padding-bottom 70px
  padding-right 10%
  padding-left 10%
.wrapper-client
  width 100%
  display flex
  justify-content space-between
  flex-wrap wrap
  margin -15px
  img
    height 30px
    width auto
    position relative
    margin 15px
    filter grayscale(1)
    transitionEase()
    &:hover
      filter unset
.wrapper-client
  display inline-flex

.section-experience
  background $whiteSmoke
  padding-left 10%
  padding-right 10%
  padding-top 0
.main-wrapper-experience
  display flex
  justify-content space-between
  padding-left 0px
  padding-right 0px
.experience-count
  display flex
  width 50%
  flex-wrap wrap
  margin-left -65px

.wrapper-experience
  display flex
  width 50%
  flex-direction column
  align-items center
  justify-content center
  padding 15px;

.exp-header,.exp-desc
  color $black

.exp-header
  font-size 50px
  font-weight bold

.exp-desc
  font-size 17px
  font-weight normal

.experience-video
  width 50%
  video
    width 100%
    height 300px;

.wrapper-video
  position: relative;
  display: inline-block;

.blurEffect
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);

.content-video
  position: absolute;
  display: inline-block;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: #FFF;
  width: 100%;
  text-align: center;
  z-index: 99;

.play
  font-size: 50px;
  cursor: pointer;
  border: 1px solid $blue;
  display: inline-block;
  text-align: center;
  padding: 17px 20px 17px 30px;
  border-radius: 100px;
  background $blue
  &:hover
    color: $blue;
    background white

.section-approach
  padding-bottom 70px

.wrapper-approach
  background white;

.wrapper-header-approach
  display flex
  flex-direction column
  align-items center
  h3
    text-align center
    margin 30px 0 10px
  span
    font-weight 300
    color $brown
  
.wrapper-step-approach
  display flex
  align-items center
  margin-top 70px
  position relative
  .wrapper-step
    display flex
    flex-direction column
    align-items center
    text-align center
    padding 0 30px
  .img-step
    width 155px
    height 155px
    border 6px solid $blue
    border-radius 100%
    overflow hidden
    position relative
    transition transform 1s ease
    &.active
      border-color $black
      transform scale(1.3)
    &:after
      content ''
      width 100%
      height 100%
      border-radius 100%
      border 6px solid white
      position absolute
      left 0
      top 0
      z-index 5
    img
      width 100%
      height auto

.caption-step
  h3
    font-size 18px
    text-transform uppercase
    margin 70px 0 13px
    font-weight 800
  p
    margin 0
    font-size 14px
    font-weight 400
    font-family $openSans
    line-height 26px
    color $brown

.dots
  position absolute
  width 70%
  height 20px
  top 70px
  left 50%
  transform translateX(-50%)
  svg
    z-index 99
    position absolute
    height 100%
    width 100%
    top 50%
    transform translateY(-50%)

.dots-color
  background $blue
  width 100%
  height 10px
  position absolute
  left 0
  top 50%
  transform translateY(-50%)
  z-index 2

.dots-color-dark
  background $black
  width 100px
  height 10px
  position absolute
  top 50%
  transform translateY(-50%)
  left 0%
  z-index 4
  animation slide 15s infinite

.section-academy
  padding 0
  width 100%
  display flex
  flex-wrap wrap
  background $blue

.wrapper-academy
  min-width 25%
  display flex 
  flex-direction column
  color white
  padding 50px 40px
  background-size cover
  background-position center
  flex 1
  &:nth-child(3)
    flex-grow 10
  span
    font-size 13px
    font-family $openSans
    color $whiteSmoke
    margin 0
  h3
    margin 0 0 15px
    font-size 22px
    color white
  
  p
    margin 0
    font-size 14px
    line-height 26px
    

.darkBlue
  background $darkBlue

.lightBlue
  background $lightBlue

.wrapper-story
  display flex
  justify-content space-between
  padding-top 40px


.wrapper-story
  .wrapper-caption, .wrapper-image
    position relative
  .wrapper-caption
    width 50%
    p
      line-height 26px
      font-size 14px
      color $grey
      font-weight 400
      font-family $openSans
      width 80%
      &.light
        font-size 16px
        margin-bottom 15px
        font-weight 300
    span
      color $blue
      font-family $openSans
      font-weight 300
      font-size 13px
      display block
    h3
      margin 5px 0 11px
      font-size 28px
      color $black
      font-weight 700
      span
        color inherit 
        font-size inherit
        font-family inherit
        font-weight inherit
  svg
    position absolute
    left 0
    right 0
    top -20px
    transform scale(1.2)
    z-index 1
  .wrapper-image
    padding-top 30px
    width 40%
    img
      box-shadow rgba(0,0,0,0.4) 0 0 40px 5px
      width 100%
      height auto
      position relative
      z-index 2

.section-team
  position relative
  .container
    z-index 2
    position relative

.wrapper-header-team
  color $whiteSmoke
  margin-top 20px
  span
    font-family $openSans
    font-size 14px
    font-weight 400
  h3
    margin 0
    font-size 32px
    font-weight 700


.background-team
  background-size cover
  background-position center
  position absolute
  width 100%
  height 269px
  left 0
  top 0
  z-index 1

.wrapper-grid-team
  display grid
  grid-template-columns 1fr 1fr 1fr 1fr
  grid-gap 22px
  background white
  padding 22px
  margin-top 50px
  .item-team
    width 100%
    img
      width 100%
      height auto
      margin-bottom 16px
    h3
      margin 0
      font-size 17px 
    span
      margin 0
      font-family $openSans
      font-size 14px
      font-weight 400
      color $black
      display block

.section-story
  padding-bottom 80px
  overflow hidden

.section-services
  padding-top 0
  .caption-step
    margin-top 30px
  .wrapper-step-approach
    .dots
      top 30px
  .wrapper-step
    .img-step
      border-radius 0px
      color $black
      border none
      border-color transparent
      width 100%
      z-index 2
      position relative
      height 80px
      h1
        font-size 27px
        margin 0
        span
          font-size 47px
          color $blue
          font-family $openSans
      &:after
        background: white;
        z-index: -1;
        border-color: rgba(0,0,0,0);
        width: 80%;
        border-radius: 0;
        top: 50%;
        height: 50%;
        left: 13%;
        transform: translateY(-50%);

.section-testimonial
  padding-top 70px
  .swiper-container
    width 100%
    height 400px
  .swiper-slide
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 22px
    &:before
      display none

.item-testimonial
  width 100%
  display flex
  flex-direction column
  height 100%
  h3,span
    color $black
    text-align center !important
  h3
    font-weight 700 !important
    font-size 22px
    margin-top 5px !important
  span
    font-family $openSans
    font-weight 400
    color $grey
    font-size 14px
  .testimonial
    background $blue
    padding 20px
    color white
    position relative
    z-index 2
    text-align center
    line-height 26px
    font-size 15px
    font-style italic
    &:after
      content ''
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid $blue;
      position absolute
      left 50%
      top 50%
      transform translateX(-50%)
      z-index -1

.testimonial-image
  width 75px
  height 75px
  overflow hidden
  border-radius 100%
  margin-left auto
  margin-right auto
  margin-top 20px
  img
    width 100%
    height auto

.wrapper-testimonial
  padding-left 70px
  padding-right 70px

.feed 
  width: 200px
  float left
  h3
    margin 8px 0
    font-weight 700
  span, p
    font-weight 400
    color $brown
  span
    font-size 16px
  p
    font-size 14px
    font-weight 300
    position relative
    &:after
      content ''
      position absolute
      top 0
      left 0
      background: linear-gradient(4deg,rgba(255,255,255,1)0%,rgba(255,255,255,.1) 100%)
      width 100%
      height 100%

.wrapper-collection-feed
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-gap 22px

.wrapper-feed
  display flex
  align-items center
  flex-direction column
  h2
    font-size 27px
    font-weight bold
    color $black
    font-family $openSans

.section-map
  padding 0
#map
  height 350px
  width 100%

.section-contact
  padding-top 60px
  padding-bottom 70px
  background $whiteSmoke
  button
    max-width 300px
    margin-left auto
    margin-right auto
    margin-top 20px

.wrapper-contact
  display flex
  flex-direction column
  > span, > h2, > p
    text-align center
  > h2
    margin 0 0 10px
    font-size 28px
    font-weight 700
  > p
    font-size 18px 
    font-weight 400
    font-family $openSans
    color $grey
    margin 0
  span
    &.blue
      font-size 13px
      font-family $openSans
      font-weight 400
      color $blue

.wrapper-field
  margin-top 65px
  display flex
  .left-contact
    width 40%
    display flex
    flex-direction column
    justify-content space-between
  .right-contact
    width 60%
    padding-left 10%

.contact-caption
  padding-left 15px
  h3
    font-size 17px
    font-weight 700
    margin 0
  p
    font-size 14
    font-weight 400
    font-family $openSans
    color $grey
    margin 0 0 30px

.wrapper-icon
  display flex
  img
    width 37px
    height 37px
    &.address
      width 57px

.right-contact
  display flex
  flex-wrap wrap
  > input[name='name']
    width calc(50% - 5px)
    margin-right 5px
    max-height 44px
  > input[name='email']
    width calc(50% - 5px)
    margin-left 5px
    max-height 44px
  > input[name='subject']
    width 100%
    max-height 44px
  > textarea
    width 100%
    min-height 165px

.section-footer
  padding-top 50px
  padding-bottom 50px

.wrapper-footer
  display flex
  justify-content center
  align-items center
  background white
  img
    width 75px
    height auto
    margin-left 30px
  span
    font-size 14px
    font-family $openSans
    font-weight 400
    color $grey
  
@keyframes slide
  0%
    left 0%
  50%
    left 50%
  100%
    left 90%

.navbar-mobile
  display none

@media (max-width: 800px)
  .exp-header
    font-size 27px
  .section-client
    padding-top 50px
    padding-bottom 50px
    padding-left 30px
    padding-right 30px
  .wrapper-experience
    align-items flex-start
  .section-services 
    .wrapper-step-approach 
      .dots
        top 13px
    .wrapper-step 
      .img-step 
        transform none !important
        h1
          font-size 27px
          background white
          span
            font-size 30px

@media (max-width: 600px)
  .img-step
    transform none !important
  .wrapper-step-approach 
    .img-step
      width 100%
      height auto
  .dots
    display none !important
  .feed
    width 100%
  .swiper-slide
    &:first-of-type 
      h1
        font-size 32px
        padding-left 0
      h2
        font-size 27px
  .badge-black
    right -10px
    width 100%
    height 50%
  .main-wrapper-experience
    flex-direction column
  .experience-count
    width 100%
    margin-left 0
  .experience-video
    margin-top 20px
    width 100%
  .section-experience
    padding-left 0
    padding-right 0
  .section-client
    padding-left 0
    padding-right 0
  .wrapper-client
    margin 0
    justify-content flex-start
  .wrapper-step
    width 100%
  .wrapper-step-approach
    flex-wrap wrap
  .caption-step 
    p
      margin-bottom 50px
    h3
      margin-top 30px
  .wrapper-academy
    width 100%
    flex unset
    min-height 238px
    flex-grow unset
    flex-shrink unset
  .wrapper-story 
    flex-wrap wrap
    .wrapper-caption
      width 100%
      p
        width 100%
    .wrapper-image
      width 100%
  .wrapper-grid-team
    grid-template-columns 1fr
  .wrapper-testimonial
    padding-left 0
    padding-right 0
  .section-testimonial 
    .swiper-container
      height auto
    .swiper-slide
      width 100%
      grid-template-columns 1fr
  .item-testimonial
    margin-bottom 30px
  .wrapper-collection-feed
    grid-template-columns 1fr
    grid-gap 50px
  .wrapper-feed
    button 
      margin 50px 0px
  .feed 
    p:after
      display none
  .wrapper-field
    flex-wrap wrap
    .left-contact
      width 100%
    .right-contact
      width 100%
      padding 20px 0 0
      > input[name='subject']
        margin 10px 0
  .wrapper-contact span.blue
    margin-bottom 10px
  .wrapper-footer img
    width 45px
  .wrapper-client
    img
      width auto
      height 20px
  nav
    ul
      display none
    &.active
      .hamburger
        div
          background-color $black
  .hamburger
    &.force
      div
        background-color $black !important
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 45px;
    z-index: 100;
    div
      position: relative;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: #fff;
      margin-top: 5px;
      transition: all .3s ease-in-out;
  .hamburger.active .top-bun
    transform: rotate( -45deg );
    margin-top: 15px;
  .hamburger.active .bottom-bun
    opacity: 0;
    transform: rotate(45deg); 
  .hamburger.active .meat
    transform: rotate( 45deg );
    margin-top: -3px;
  .navbar-mobile
    padding 30px
    width 100%
    height 100%
    position fixed
    top 0px
    left 0
    background white
    flex-direction column
    padding-top 100px
    > a
      color $black
      display none
      padding 17px 0
      text-align right
      &:first-child
        padding-top 0